/* *{
    background-color: burlywood;
} */
html {
    margin: 0;
}
.nav{
    margin: 20px;
}
a{
    margin: 10px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 7px;
    border: 1px solid black;
}
.canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}
span {
    display: block;
}
.button {
    height: 70px;
    width: 70px;
    border: 2px solid black;
    display: inline-block;
}
.button:hover {
    border: 3px solid black;
}
#peru{
    background-color: peru;
}
#green{
    background-color: darkolivegreen;
}
#pink{
    background-color: mediumvioletred;
}
#blue{
    background-color:midnightblue;
}